// 滚动条样式
* {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: transparent;
        transition: 0.3s ease-out;
    }

    &::-webkit-scrollbar-track {
        transition: 0.3s ease-out;
    }

    &::-webkit-scrollbar-thumb {
        width: 6px;
        height: 6px;
        border-radius: 4px;
        background: rgba(#909399, 0.3);
        transition: 0.3s ease-out;

        &:hover {
            background: rgba(#909399, 0.6);
        }
    }
}
